<div class="full-screen-container">
    <div class="form-container">
        <h1 class="title">Registro</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <mat-form-field>
          <mat-label>Nombre de usuario</mat-label>
          <input matInput formControlName="userName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="test" [disabled]="loading">Registrarse</button>
      </form>
      <div class="spinner-container" *ngIf="loading">
        <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>
  