  mat-form-field {
    width: 100%;
  }
  .title{
    font-size: calc(2rem + 1.5vw);
    font-weight: bold;
    line-height: normal;
  }
  
  .test{
    background-color: #00ADB5;
    border-radius: 0;
    color: white;
}

.search{
  background-color: #B500AE;
  border-radius: 0;
  color: white;
}

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .favorite-icon {
    color: red;
    vertical-align: middle;
    margin-left: 5px;
  }

 h3 {
  font-size: 1rem;
  color: #595252;
  font-weight: bold;
 }



  
  
