<div class="row mt-3">
  <div class="col-sm-6">
    <mat-form-field appearance="fill">
      <mat-label>Distancia</mat-label>
      <input matInput placeholder="500 metros" [(ngModel)]="radius">
      <span matTextSuffix>&nbsp; metros</span>
      <mat-hint>¿Cuantos te apetece andar?</mat-hint>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
      <mat-label>¿Qué buscas?</mat-label>
      <input matInput placeholder="Cerveza" [(ngModel)]="keyword">
      <mat-hint>Palabra clave</mat-hint>
    </mat-form-field> -->
  </div>
  <div class="col-sm-6">
    <mat-form-field>
      <mat-label>Tipo de Garito:</mat-label>
      <mat-select [(value)]="keyword">
        <mat-option value="Cerveza, beer">Cerveza</mat-option>
        <mat-option value="Bar">Bar</mat-option>
        <mat-option value="Restaurante">Restaurante</mat-option>
        <mat-option value="Comida">Comida</mat-option>
        <mat-option value="Pub">Pub</mat-option>
        <mat-option value="Hotel">Lo que sea....</mat-option>
      </mat-select>
      <mat-hint>¿Qué buscas?</mat-hint>
    </mat-form-field>
    <div *ngIf="error" class="primary">{{ error }}</div>
  </div>
</div>
<div class="row mt-2">
  <div class="d-grid gap-2 col-sm-6 mt-2">
    <button class="btn btn-lg test" type="button" [routerLink]="minijuegoRoute">¿ES BUENA IDEA?</button>
  </div>
  <div class="d-grid gap-2 col-sm-6 mt-2">
    <button class="btn search btn-lg" type="button" (click)="initMap()" [disabled]="disabled">A POR LA BIRRA</button>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-6"></div>
  <div class="col-sm-6" *ngIf="disabled && !loading">
  <h3><em>Porque nos gusta cuidar de ti </em><mat-icon class="favorite-icon">favorite</mat-icon><em> creemos que es mejor que compruebes si es buena idea tomar otra cerveza, pero si te da igual...</em></h3>
  <mat-slide-toggle [(ngModel)]="toggleChecked" (change)="onToggleChange()">
    {{ toggleChecked ? 'Desactivar búsqueda' : 'Activar búsqueda' }}
  </mat-slide-toggle>
</div>
</div>
<div class="row mt-4">
  <div class="col-md-12" id="map" style="height: 400px; width: 100%;"></div>
</div>
<div class="row mt-4">
<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only"></span>
  </div>
</div>
</div>
<div *ngIf="!loading">
  <app-card-info [bars]="barDetails"></app-card-info>
</div>

