.title{
    font-size: calc(2rem + 1.5vw);
    font-weight: bold;
    line-height: normal;
    color: #00ADB5;;
  }

  .color{
    font-size: calc(3rem + 1.5vw);
    font-weight: bold;
  }

  .card-header {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
  font-size: 1.5rem;
  text-transform: uppercase;
}
.vt323-regular {
  font-family: "VT323", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}
