<div class="game-container">
  <div class="header">
    <h1 class="title">Colores VS Palabras</h1>
    <h2 class="subtitle">¿Cuál es el color de las letras? <span class="highlight">Elige sabiamente</span></h2>
  </div>
  <div class="info">
    <h2 class="timer">{{ tiempoRestante }} segundos</h2>
    <div class="feedback">
      <div class="alert alert-success" *ngIf="acierto">¡Correcto!</div>
      <div class="alert alert-danger" *ngIf="error">¡Error!</div>
    </div>
    <h2 class="score">{{ puntuacion }} pts</h2>
  </div>
  <div class="colors-card">
    <div class="card-header">
      <h1 [style.color]="colores[correctColorIndex].color" class="color">{{ colores[selectedColorIndex].texto }}</h1>
    </div>
    <div class="card-body">
      <div class="buttons-container">
        <button class="btn" *ngFor="let color of colores; let i = index" (click)="checkAnswer(i)">
          {{ color.texto }}
        </button>
      </div>
    </div>
  </div>
</div>
